body{
  margin: 10px;
  padding: 10px;
  background-size: cover;
  background-color: black;
}

.education h1{
  font-family: 'Pacifico', cursive;
  color: cyan;
  font-size: 50px;
  text-align: center;
}
.education h4{
  color: red;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}
.education p{
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 30px;

}
img{
  float: left;
}