/* Master styles*/
body{
  background-color: black;
  background-size: cover;
}
.title{
  text-align: center;
  
}
.title h1{
  font-family: 'Pangolin', cursive;
  color: red;
  font-size: 70px;
}

.container{
  display: grid;
}
/* Nav styles*/

.nav-bar{
  display: grid;
  justify-content: space-evenly;
  text-transform: uppercase;

  opacity: .8;
  float: inline-start;
  text-align: center;


}
.nav-bar-link{
  border-bottom: 3px solid transparent;
  transition: border-bottom 1s;
}
.nav-bar-link a{
  color:violet;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  transition: color 0.2s;
  border:  2px solid transparent;
  
}
.nav-bar-link:hover{
  border-bottom: 1px solid transparent;

}
.nav-bar-link a:hover{
  color:black;
  background-color: rgb(157, 233, 6);
}
.ending p{
  font-family: 'Pacifico', cursive;
  color: whitesmoke;
}