
/*Home Section*/

body{
  margin: 0px;
  box-sizing: border-box;
  background-image: url(./images/ace.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
}
.nav-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side{
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper{
  height: 22px;
  border-bottom: 10px solid transparent;
  transition: border-bottom 0.5s;
} 

.nav-link-wrapper a {
  font-size: 50px;
  color: red;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover{
  border-bottom: 1px solid green;
}

.nav-link-wrapper a:hover{
  color:blue;
}

.nav-wrapper >.right-side > div{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper{
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: blue;
  text-decoration: none;
  transition: border-bottom 0.5s;
}
.nav-link-wrapper:hover{
  border-bottom: 1px solid green;
}

.nav-link-wrapper a:hover{
  color:blue;
}
 
header{
  position: absolute;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid blue;
}
.home{
  min-height: 100vh;
  
}
.container{
  margin: auto;
}
header .brand a{
  justify-content: space-evenly;
  padding: 600px;
  text-decoration: none;
  font-size: 100px;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
  
}
header .row{
  justify-content: space-between;
  align-items: center;
}
header .navbar ul{
  list-style: none;
  padding: 0px;
  margin: 0px;

}
header .navbar ul li{
  display: inline-block;
  margin-left: 40px;
}
header .navbar ul li a{
  font-size: 18px;
  text-decoration: none;
  line-height: 72px;
  color: rebeccapurple;
  display:block ;
  font-weight: 1000px;
  text-transform: uppercase;
  position: relative;
}

header.navbar ul li a:hover::before{
  border-bottom: 1px solid white;
  width: 100%;
  left: 0px;
}

.home .row {
  min-height: 50vh;
}

.home .home-content{
  justify-content: first baseline;
  float: left;
  max-width: 75em;
  display: flex;
  align-items: bottom;
}

.home .home-content .block{
  margin-bottom: 500px;
  justify-content:space-around;
  flex: 100px;
  bottom: 100em;
  max-width: 100em;
  padding-bottom: 200px;
  border-left:5px solid burlywood
}
.home .home-content .block h6{
  color:yellowgreen;
  font-size: 20px;
  font-weight: 500;
  margin: 1;
  padding: 0px;
  line-height: 1.2;
}
.home .home-content .block h1{
  color:blue;
  font-size:70px;
  font-weight: 600;
  margin: 0;
  padding: 0px;
  line-height: 1.2;
}
.home .home-content .block h3{
  color: blue;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

/*About me*/

.about-me{
  padding:100px 15px ;
  background-color: transparent

}

.about-me .section-title{
  flex: 100em;
  max-width: 100em;
  margin-bottom: 35px;
}

.about-me .section-title h1{
  display: inline-block;
  font-size: 50px;
  text-transform: uppercase;
  font-weight:700px;
  color: blueviolet;
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 5px;
}

.about-me .section-title p{
  display: block;
  font-size: 26px;
  color: black;
  font-weight: 400;
  letter-spacing: 2px;
}

.about-me .about-content .img{
  flex: 0 0 33.33em;
  max-width: 33.33em;
}
.about-me .about-content .img img{
  width: 100em;
  display: block;
}
.about-me .about-content .text{
  margin: 0em;
  flex: 66em;
  max-width: 66.66em;
  padding-left: 30px;
}

.about-me .about-content .text h4{
  font-size: 900px;
  font-weight: 600;
  margin: 0 0 5px;
  color: aqua;
}
.about-me .about-content .text h6{
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 5px;
  color: aqua;
}
.about-me .about-content .text p{
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: blueviolet;
}
.about-me .about-content .text .info{
  display: flex;
}